@import url('https://fonts.googleapis.com/css?family=Aleo:300,700|Beth+Ellen&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Aleo:300,700|Montserrat:900&display=swap'); */

body {
  font-family: 'Aleo', serif;
  font-size: 14px;
  line-height: 22px;
  color: #232952;
  padding: 0;
}

p {
  margin-top: 20px;
  /* padding-bottom: 30px; */
}

/* p.italic {
  font-style: italic;
} */

.italics {
  font-style: italic;
  font-size: 16px;
  font-weight: lighter;
}

.h3-italics {
  font-style: italic;
  font-size: 16px;
  font-weight: normal;
  margin-left: 10px;
}

a {
  color: #EE7235;
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  color: #B45847;
}

script {
  display: inline-block;
}

.page-title {
  color: #232952;
  vertical-align: middle;
}

.page-title:hover {
  color: #EE7235;
}

.section-titles {
  margin-top: 50px;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 28px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 28px;
}

h3 {
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: bold;
  /* text-align: center; */
  margin: 0;
  font-size: 20px;
  line-height: 30px;
}

.sub-title-centred {
  text-align: center;
  color: #C1C8D7;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  background-color: #232952;
  padding: 10px 30px;
  margin: 20px;
  border-radius: 30px;
  color: #fff;
  border: 0;
  font-size: 30px;
  transition: 0.4s;
}

button:hover {
  background-color: #EE7235;
  box-shadow: 0 2px 20px rgba(26, 25, 52, 0.15);
}

.menu-button {
  background-color: #fff;
  border-radius: 6px;
}

.button-text-container {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  /* left: 50%; */
  /* transform: translate(-50%, -10%); */
  /* -ms-transform: translate(-50%, -50%); */
  /* display: grid; */
}

.button-container {
  text-align: center;
}

.rsvp-banner {
  text-align: center;
}

#main-menu {
  padding: 20px;
  min-height: 30px;
  background-color: #fff;
  box-shadow: 0 2px 20px rgba(26, 25, 52, 0.15);
  z-index: 1000;
  position: sticky;
  display: flex;
  flex-wrap: nowrap;
  top: 0;
}

#footer {
  background: #EBF0F4;
}

.main-menu-containers {
  width: 33%;
  display: inline;
  /* display: inline-block; */
  /* float: left; */
}

#main-banner {
  width: 100%;
  height: 100%;
  position: relative;
}

#hero-image {
  z-index: 10;
  width: 100%;
  height: 100%
  /* background-size: cover; */
}

/* #burger-menu {
  width: 30px;
  height: 30px;
  float: left;
  margin: 0;
  transition: 0.4s;
  border-radius: 6px;
} */

.main-content-containers {
  padding: 30px;
  margin: 0 auto;
  max-width: 960px;
}

#accomodation-content-container {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 40px;
}

.plan-info-content {
  text-align: left;
  width: 40%;
}

#plan-info-content-left {
  /* margin-left: 10%; */
  margin-right: 10%;
}

.plan-info-timings {
  display: flex;
  flex-wrap: nowrap;
  margin: 20px 0;
}

#plan-info-icon-container {
  width: 50px;
}

.plan-time-info {
  width: 25%;
  /* margin-left: 30px; */
  padding-top: 4px;
}

#countdown {
  color: #EE7235;
  font-size: 20px;
  text-align: right;
  float: right;
  margin-top: 6px;
  padding: 2px 0;
  vertical-align: middle;
}

.menu-icon {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 6px;
  padding: 6px 3px 0px 3px;
  text-align: center;
  transition: 0.4s;
}

.menu-icon:hover {
  width: 30px;
  height: 30px;
  background-color: #EBF0F4;
  border-radius: 6px;
  padding: 6px 3px 0px 3px;
}

/* ICONS */

.fa-bars.fa {
  font-size: 22px;
  /* vertical-align: middle;
  text-align: center; */
}

.fa-life-ring.fa {
  width: 45px;
  font-size: 30px;
  color: #32B8B5;
}

.fa-microphone.fa {
  width: 45px;
  font-size: 30px;
  color: #C1C8D7;
}
